extends: "@gianlucaguarini/eslint-config"

parserOptions:
  ecmaVersion: 2018
  sourceType: 'module'

rules:
  no-constant-condition: 0
  fp/no-rest-parameters: false
  fp/no-loops: false
  fp/no-mutating-methods: false

env:
  mocha: true
